/*Importing the fonts that is going to be on the website.*/ 
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Averia+Gruesa+Libre&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Averia+Serif+Libre:wght@300;400;700&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bodoni+Moda:wght@400;500;600;700;800;900&family=David+Libre:wght@400;500;700&family=Della+Respira&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Extended+Text&family=Libre+Barcode+39+Text&family=Libre+Baskerville:wght@400;700&family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@200;300;400;600;700;900&family=Vesper+Libre:wght@400;500;700;900&display=swap'); 


/* CSS rules to use the fonts.
    font-family: 'Abhaya Libre', serif;
    font-family: 'Averia Gruesa Libre', cursive;
    font-family: 'Averia Sans Libre', cursive;
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Barlow', sans-serif;
    font-family: 'Bodoni Moda', serif;
    font-family: 'David Libre', serif;
    font-family: 'Della Respira', serif;
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Libre Caslon Display', serif;
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Vesper Libre', serif;
*/

/*Styling the content on the main page first.*/ 
/*Style for every area of the page.*/
*{ 
    margin: 0%;
    padding: 0%;
}
html{ 
    overflow-x:hidden;
}
/* Styling the body of the page */
body{ 
    font-family: 'Roboto Slab', serif;
    height: 100%;
}

/*Styling Nav-bar*/
#nav-bar-container{ 
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: transparent;
}

#right-side-nav{ 
    width: 50%;
    padding: 0.8%;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 1.7rem;
}

#left-side-nav{ 
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.25%;
    font-family: 'Playfair Display', serif;
    font-weight: 400;

}

.nav-links{ 
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    list-style: none;
    text-decoration: none;
    color: black; 
    
}
.nav-links:hover{ 
    background-color: blue;
    color: white;
    border-radius: 2rem;
}


#contact-link{ 
    border-radius: 2rem;
    background-color: gold;
}

#contact-link:hover{ 
    border-radius: 2rem;
    background-color: blue;
}

/*Styling Home Page Cover Image*/
#cover-image-container{ 
    display: flex;
}
#cover-image{ 
    width: 100%;
}

/*Styling the about me page content.*/

#about-page-content{ 
    width: 100%;
    display: flex;
}

/*Styling the Projects page content.*/

#projects-page-content{ 
    width: 100%;
    display: flex;
}



/*Styling the Projects page content.*/

#contact-page-content{ 
    width: 100%;
    display: flex;
    
}

/*Styling the buttons*/ 


.top-button-text{ 
    padding: 0.5%;
    border-radius: 2rem;
    background-color: gold;
    height: 100%;
    padding: 1.2%;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    
}

.top-button-text:hover{ 
    cursor: pointer;
    background-color: blue;
    color: white;
}

/*Positioning buttons*/
#contact-page-container{ 
    position: relative;
}
#contacts-top-container{ 
    position:absolute;
    bottom: 5%;
    left: 42% ;
    height: auto;
    width: 100%;
}

/*Positioning buttons projects*/
#projects-page-container{ 
    position:relative;
}

#projects-top-container{ 
    position:absolute;
    bottom: 30%;
    left: 77% ;
    height: auto;
    width: 100%;
}


/*Positioning buttons projects*/
#about-page-container{ 
    position:relative;
}

#about-top-container{ 
    position:absolute;
    bottom: 5%;
    left: 45% ;
    height: auto;
    width: 100%;
}



.tactme-button-container{ 
    position: absolute;
    bottom: 37%;
    left: 7% ;
    height: auto;
    width: 100%;

}

.social-media-container{ 
    position: absolute;
    bottom: 33%;
    left: 33%;
    width: 100%;
}

.social-buttons{ 
    text-decoration: none;
    color: white;
    font-size: 4.5rem;
    padding: 1%;

}

.social-buttons:hover{ 
    color: lightblue;
}

/*Styling of the Form*/
.form-container{ 
    position: absolute;
    bottom: 15%;
    right: 3%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 25vw;

}

/*

.form-content{ 
    background: transparent;  
    border: none;
    outline: none;
    border-bottom: 1px solid orangered;
    color:palegoldenrod;
    font-family: 'Roboto Slab', serif;
    padding: 3%;
}


form .submit{ 
    background-color: white;
    border-color: transparent;
    padding: 2%;
    margin: 3%;
    border-radius: 1rem;
    color: black;
}


form .submit:hover{ 
    background-color: orangered;
    color: white ;
    cursor: pointer;
}*/

.website-footer{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    background-color: black;
    color: white;
    padding-top: 2%;
    
}

#footer-right-side{ 
    font-size: 1rem;
    width: 35%;
    padding-bottom: 0.2%;
}

#footer-middle{ 
    width: 35%;
    font-size: 0.5rem;
    padding-bottom: 0.2%;
    text-align: right;
}

#page-map{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.page-map-link{ 
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 2%;
}

.page-map-link:hover{ 
    color: black;
    background-color: white;
    border-radius: 2rem;
}

#footer-left-side{ 
    width: 35%;
    padding-bottom: 0.2%;
    font-family: 'Libre Barcode 39 Text', cursive;
    text-align: right;
    padding-right: 0.7%;
}